@{
    ViewData["Cine"] = "Examen Progreso 1";
}

<div class="text-center">
    <h1 class="display-4">Examen de Progreso 1</h1>
    <button onclick="location.href='https://localhost:7267/NC_Cines'">Selecciona tu Pelicula</button>
</div>
